@media screen and (max-width:576px) {
.nav-section ul {
     display: none;
 }
.nav-btn{
    display: none;
}
.menu-icon {
    display: block;
    color: #fff;
    font-size: 2rem;
    }
.nav-section{
    padding: 1rem;
    justify-content: space-between;
}
.banner-section{
    height: auto;
    padding: 50px 20px;
    background: url(./assets/Image.png);
    max-width: 100%;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-text h2 {
    font-size: 40px; 
}
.circle-img{
    width:200px;
}
.microphone-img{
    width: 46px;
    height: 70px;
}
.badge{
     right:-25px;
}
.about-text{
    padding-top: 20px;
}
.about-text h2{
    font-size: 2rem; 
    padding-bottom: 1rem; 
}
.about-section{
    padding: 20px;
}
.about-text p{
    line-height:1.25rem;
    margin-bottom: 30px;
}
br{
    display: none;
}
.about-text p span {
    line-height: 20px;
}
  .achievements{
    display: grid;
    grid-template-columns: repeat(2,1fr);
     padding: 30px 0 50px 0;
}
.achievements h2{
    font-size: 2.5rem;  
}
.choose-section h2{
   font-size: 2.5rem;
   padding-top:40px;
   padding-bottom: 20px;
}
.box-container{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    padding: 20px;
}
.choose-section{
    padding-bottom: 40px;
}
.feature-section{
    padding: 40px 0;
}
.feature-section h2{
    font-size: 2.5rem;
}
iframe{
    max-width: 100%;
    height: 215px;
}
.feature-cards{
    grid-template-columns: repeat(1,1fr);
    padding: 20px;
}
.host{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
.host .social-icon{
  justify-content: center;
  margin-top: 10px;
}
.footer-container{
    background: url(./assets/small_footer.png);
    width: 100%;
    height:200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container h1{
    font-size: 3rem;
}
.footer-icon{
   grid-template-columns: repeat(2,1fr);
   gap: 8px;
   
}
}



/* @media (min-width: 992px) {
  .box-container{
    padding: 40px;
}
} */