*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.font{
    font-family: "Inter", sans-serif;
}
/* Navbar Section */
header{
 background-color: #1A0B2E;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    padding:1.55rem 0 ;
    align-items: center; 
}
.nav-section h1{
    font-size: 2rem;
    color: #fff;
}
.nav-section span{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;             
    -webkit-background-clip: text;     
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.nav-section ul{
    display: flex;
}
.nav-section ul li{
    list-style: none;
}
.nav-section ul li a{
    text-decoration: none;
    color:#fff;
    padding-right: 1.75rem;
    font-size: 1rem;
}
.nav-section ul li a:hover{
    color:#F7E93F;
    transition: all 0.3s ease
}
.nav-section .nav-btn{
    font-size: 1rem;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #fff;
    border: none;
    padding:0.75rem 1rem;
    border-radius: 10000px;
    cursor: pointer;  
}
.nav-section .nav-btn i{
    padding-left: 8px;
}
.nav-section .nav-btn:hover{
    color: #1A0B2E;
    transition: 2s;
}
/* Banner Section */
.banner-section {
    width: 100%;
    height: 100vh;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.hero-center{
    position: relative;
    /* margin-top: -100px; */
} 
.circle-img{
    width:325px;
    display: block;
}
.microphone-img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 116px;
}
.badge{
    position: absolute;
    top:10px;
    right:25px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.banner-text h2 {
    font-size: 64px;
    font-weight: 800;
    margin-top: 0px;
    color: #fff;
}
.banner-text p{
    font-size: 1rem;
    font-weight:400 ;
    color: #fff;
} 
.banner-buttons{
    padding-top:24px;
}
.banner-buttons i{
    margin-right: 10px;
}
 .spotify-btn{
    font-size: 1rem;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #fff;
    border: none;
    padding:0.75rem 1rem;
    border-radius: 10000px;
    cursor: pointer; 
    transition-duration: 0.4s;
}
.spotify-btn:hover{
    background: linear-gradient(to right, #e7de73, #d472b7, #a367cf);
}
.subscribe-btn{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 800;
    border:2px solid #00FF88;
    padding: 10px 20px;
    background-color: transparent;
     border-radius: 10000px;
    cursor: pointer;
    margin-left: 8px;
    font-family:"Inter", sans-serif ;
    transition-duration: 0.4s;
}
.subscribe-btn:hover{
    background-color: #04AA6D;
  color: white;
}